<% include('../layout/header.ejs') %>

<h1>Admin Login</h1>

<% if(typeof message !== 'undefined') { %>
    <p><%= message %></p>
<% } %>

<form action="/login" method="post">
    <input type="text" name="mno" placeholder="Enter Mobile" required>
    <br><br>
    <input type="password" name="password" placeholder="Enter password" required>
    <br>
    <br>
    <input type="submit" value="Login">

</form>
<% include('../layout/footer.ejs') %>